torch==1.13.1
transformers
pytorch-lightning==1.9.4
lightning==1.9.4
scikit-learn==1.2.0
matplotlib==3.5.3
numpy
torchvision
torchsummary==1.5.1
torchmetrics
torchscan
tensorboard==2.12.2
seaborn==0.12.2
pandas
lightning
pathlib
tqdm
requests
typing
lightning-flash[image]
wandb
networkx
